<html>
<head>
    <title>FeatureServer : $datasource</title>
</head>
<body>
<h1>FeatureServer : $datasource</h1>
<hr noshade="noshade" />
#set length = len($actions) 
Showing $length   features.
#if len ($actions) <= 200
  <script src="http://openlayers.org/api/OpenLayers.js"></script>
  <div id="map" style="width:250px; height: 250px;float:right">
  </div>
  <script defer='defer'>
    var m = new OpenLayers.Map("map", {'maxResolution':.703125});
    m.addLayer(new OpenLayers.Layer.WMS("", "http://labs.metacarta.com/wms-c/Basic.py", {'layers':'basic'}));
    #if len ($actions) == 1 
        v = new OpenLayers.Layer.GML("", 
            "${actions[0].id}.geojson?"+OpenLayers.Util.getParameterString(OpenLayers.Util.getParameters()), 
            {format: OpenLayers.Format.GeoJSON});
        v.events.register("loadend", v, function() { 
            m.zoomToExtent(this.features[0].geometry.getBounds()) 
        });
    #else 
        v = new OpenLayers.Layer.GML("", "all.geojson?"+OpenLayers.Util.getParameterString(OpenLayers.Util.getParameters()), {format: OpenLayers.Format.GeoJSON});
        v.events.register("loadend", v, function() { 
            var extent = new OpenLayers.Bounds(0,0,0,0); 
            for(var i = 0 ; i < this.features.length; i++) {
                extent.extend(this.features[i].geometry.getBounds())
            } 
            m.zoomToExtent(extent);
        });    
    #end if
    m.addLayer(v);
    v.loadGML();
  </script>
#end if  
#for $feature in $actions
    #set $coords = str($feature.geometry.coordinates)
    #if len($actions) > 1 and len($coords) > 120:
      #set $coords = $coords[:120] + "..."  
    #end if
    <table cellpadding="5" border="0">
    <tr><th>ID</th><td><a href="${feature.id}.html">$feature.id</a></td></tr>
    #for $key, $val in $feature.properties.items
      #if $val 
      <tr><th>$key.encode('utf-8')</th><td>$val.encode('utf-8')</td></tr>
      #end if
    #end for
    <tr><th>Geometry</th><td>${feature.geometry.type}: $coords</td></tr>
    </table>
    <hr noshade="noshade" />
#end for
</body>
</html>
